<!DOCTYPE>
<html>
	<head>
		<title>Spring into Fitness | Thanks</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<style>
			body, html {
				display: flex;
				justify-content: center;
				align-items: center;
				background: #B2DFDB;
			}
			h4 {
				text-align: center; 
				color: #424242; 
				margin-top: 16px;
				font-size: 24px;
			}
			@media (min-width: 600px) {
				h4 {
					font-size: 38px;
				}
			}
		</style>
	</head>
	<body>
		<h4>Thanks for signing up! You will receive instructions on how to get started in the coming days.</h4>
	</body>
</html>